*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Kanit', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #2c3e50;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #3498db, #2c3e50);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #3498db, #2c3e50); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.container{
    background-color: #fff;
    max-width: 100%;
    width: 450px;
    height: 50%;
    border-radius: 5px;
    border: none;
    box-shadow: 0 3px 3px 3px;
}

.title {
    background-color: black;
    color: white;
    padding: 1rem 0;
    text-align: center;
    letter-spacing: 2px;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;    
}
.item {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1.5rem 0;
}

label{
    padding-bottom: .5rem;
    font-size: 18px;
}
input {
    font-size: 16px;
}
option {
    font-size: 16px;
}

.button {
    display: block;
    padding: .5rem 1rem;
    background-color: #01e1ff;
    margin: 2rem 0  ;
    text-transform: uppercase;
    font-size: 16px;
    cursor: pointer;
    border-radius: 3px;
}

.result {
    text-align: center;
    margin-bottom: 2rem;
    font-size: 2rem;
}

